@keyframes errorShow {
  0% {
    opacity: 0;
    top: -10%;
  }

  100% {
    opacity: 1;
    top: 10%;
    right: 50%;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}
html {
  height: 100vh;
}
body {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}
main {
  margin: 3rem 5rem;
}
h1 {
  text-align: center;
  font-size: 61px;
}
#expensesInput {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 4rem 0;
}
#expensesInput * {
  margin-right: 0.5rem;
}
input {
  width: 16rem;
  height: 2rem;
  font-style: italic;
}
button {
  height: 2rem;
  width: 5rem;
  background-color: gray;
  border: 1px solid;
  border-radius: 10px;
}
#expanses-list div {
  margin: 2rem 0;
  column-count: 5;
  width: 902px;
}

i.fa-solid {
  margin: 0 10px;
  cursor: pointer;
}
#totalPrice {
  position: relative;
  left: 23rem;
  width: 542px !important;
}

/* styling error popup */
.error-box {
  font-size: 16px;
  /* border: solid; */
  display: grid;
  justify-items: stretch;
  box-shadow: 1px 1px 54px -11px grey;
  width: 340px;
  position: fixed;
  z-index: 1;
  top: 10%;
  right: 50%;
  transform: translate(50%, 50%);
  border-radius: 7px;
  background: #ffffff47;
  animation: errorShow 1s;
}

.error-box .error-alert {
  border-bottom: 0.1px solid #80808042;
  color: #dc3545;
  display: flex;
  align-items: center;
  padding: 9.5px 12px;
}
.error-box span {
  border: solid;
  padding: 3px 13px;
  border-radius: 50%;
  background-color: #dc3545;
  color: white;
  margin-right: 8px;
}
.error-box .error-message {
  padding: 12px;
  color: #212529;
}
/* new shop input styling */
input.newShopInput,
input.newPrice {
  width: 180px;
}
